<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Your Website</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <% if (isLoggedIn) { %>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/student">Manage student</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/department">Manage department manager</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/faculty">Manage faculty</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/marketing">Manage marketing manager</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/faculty/student">View student's faculty</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/year">Manage year</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/post/global">Manage post</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/addArticle">Add article</a>
            </li>
            <li class="nav-item"> <!-- Thêm mục mới cho nút "Thêm bài viết" -->
              <a class="nav-link" href="/admin/post/manage">Manage post admin</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  